:root {
    --backgroud-color: #191919;
    --background-color-02: #20202056;
    --cor-form: #212121;
    --cor-form-field: #272727;

    --title-color: linear-gradient(to right, #AF4163, #9B4DCA);
    --title-color-secondary: #ffffff;
    --paragraph-color: #ffffffcb;
    --paragraph-color-02: #ffffff;

    --card-color: #212121;
    --button-standard-color: linear-gradient(to right, #AF4163, #9B4DCA);
    --button-primary-color: #AF4163;
    --button-secondary-color: #9B4DCA;

    --title-font: "Sora", sans-serif;
    --text-font: "Inter", sans-serif;
}

/* GERAL */

body {
    width: 100%;
    background-color: var(--backgroud-color);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 700;
    color: var(--title-color-secondary);
}

h2 {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 700;

    background: var(--title-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

h3 {
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 20px;
    color: var(--paragraph-color);
}

.btn-padrao {
    padding: 10px 20px;
    border-radius: 50px;
    background: var(--button-standard-color);
    font-weight: 500;
}

button {
    padding: 10px 20px;
    border-radius: 50px;
    background: var(--button-standard-color);
    font-weight: 500;
}

/* GERAL - FIM */

/* HEADER - INICIO */

header {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 32px 20px;
}

.nav-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content {
    display: none;
}

.btn-navbar {
    display: none;
}

/* HEADER - FIM */

/* HERO - INICIO */

.hero {
    height: 785px;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/images/bg-cameraman.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: center;
}

/* HERO - FIM */

/* SEÇÃO CLIENT - INICIO */

.clients {
    padding: 32px 20px;
    width: 100%;
    height: 340px;
    text-align: center;
    display: flex;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* SEÇÃO WHY US - INICIO */

.why-us {
    width: 100%;
    padding: 32px 20px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-us-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 36px;
}

.cards-why-us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-why-us {
    width: 100%;
    height: 187px;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    background-color: var(--card-color);
    border-radius: 16px;
}

.why-us-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* SEÇÃO WHY US - FIM */

/* SEÇÃO SOLUÇÕES - INICIO */

.solutions {
    width: 100%;
    background-color: var(--background-color-02);
    backdrop-filter: blur(10px);
    padding: 32px 20px;
    gap: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solutions-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
}

.cards-solutions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-solutions {
    width: 380px;
    padding-bottom: 24px;

    text-align: center;

    background-color: var(--card-color);
    border-radius: 16px;
    gap: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-solutions>img {
    width: 380px;
    border-radius: 16px 16px 0 0;
}

.card-solutions-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-solutions-text>p {
    font-size: 20px;
}

/* SEÇÃO SOLUÇÕES - FIM */

/* SEÇÃO PROJETOS - INICIO */

.projects {
    width: 100%;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    gap: 170px;
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
}

.projects-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-cards {
    padding: 32px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-advice {
    display: flex;
    align-items: center;
    gap: 8px;

    p{
        font-size: 14px;
    }
}

.project-card {
    width: 380px;
    display: flex;
    flex-direction: column;

    position: relative;

    h2 {
        font-size: 300px;
    }
}

.project-number {
    position: absolute;
    top: -190px;
    z-index: 0;
}


.project-card-img {
    position: relative;
    width: 380px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }
}

.btn-project-card {
    display: none;
}

.project-card:hover {
    .project-card-content-info {
        padding: 8px 16px;
        background-color: var(--card-color);
        display: flex;
        justify-content: space-between;
        border-radius: 0px 0px 10px 10px;

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .project-card-content {
        border-radius: 0px 0px 10px 10px;
    }

    .project-card-content-text {
        border-radius: 0px;
    }

    .btn-project-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.404);
        display: flex;
        align-items: center;
        border-radius: 50px;
        gap: 4px;
        transition: ease-in-out 0.5s;
    }

    .btn-project-card:hover {
        background: var(--button-standard-color);
        box-shadow:
        0 0 10px rgba(175, 65, 99, 0.5),
        0 0 20px rgba(155, 77, 202, 0.4);
    }

    .project-number {
        transform: translateY(-20px) scale(1.08);
        transition: transform .6s ease-out;
    }

}

.project-card-content-text {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--card-color);
    border-radius: 0px 0px 10px 10px;

    h4 {
        width: 260px;
        font-size: 24px;
        font-weight: 600;
    }

    .project-img {
        display: flex;
        justify-content: center;
        width: 40px;
        height: 50px;

        img {
            width: 60px;
        }
    }
}

.project-card-content-info {
    display: none;
}

/* SEÇÃO PROJETOS - FIM */


/* SEÇÃO CONTATO - INICIO */

.contact {
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background-color: var(--background-color-02);
    backdrop-filter: blur(10px);
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
}

.contact-form {
    width: 100%;
}

.contact-logo {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/bg-cameraman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0px 0px;
}

.contact-form-content {
    padding: 36px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-form);
    border-radius: 0px 0px 16px 16px;
}

.contact-field-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-form-field {
    padding: 12px;
    background-color: var(--cor-form-field);
    border-radius: 10px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

#message {
    height: 200px;
}

/* SEÇÃO CONTATOS - FIM */


/* SEÇÃO FAQ - COMEÇO */

.faq {
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
}

.faq-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--card-color);
}

.faq-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-icon {
    width: 62px;
    height: 62px; 
    border-radius: 100%;
    background: var(--button-standard-color);
    transition: transform 0.2s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 26px;
        height: auto;
    }
}

.faq-item[open] .faq-icon {
    transform: rotate(180deg);
}

.faq-info {
    border-top: 1px solid transparent; 
    border-image: var(--button-standard-color) 1;

    margin-top: 16px;
    padding: 16px 0px 0px 0px;

    p {
        font-size: 20px;
        text-align: left;
    }
}

/* SEÇÃO FAQ - FIM */



/* ===== MEDIA QUERY ===== */

@media (min-width: 768px) {
    .card-why-us {
        width: 580px;
    }

    /* SEÇÃO CONTATOS - COMEÇO */

    .hero,
    .clients,
    .why-us,
    .solutions,
    .projects,
    .contact,
    .faq {
        padding: 32px 64px;
    }

    .contact-logo {
        width: 330px;
        height: 610px;
        border-radius: 16px 0px 0px 16px;
    }

    .contact-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
    }

    .contact-form-content {
        width: 650px;
        height: 100%;
        border-radius: 0px 16px 16px 0px;
    }
}

/* SEÇÃO CONTATOS - FIM */


@media (min-width: 1280px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 24px;
    }

    /* HEADER - INICIO */

    header {
        padding: 60px 160px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-images {
        width: 237px;
        height: 51px;
    }

    .menu-burger-img {
        display: none;
    }

    .header-nav {
        display: flex;
        gap: 32px;
    }

    .header-nav>a {
        font-size: 18px;
        color: var(--paragraph-color-02);
    }

    .nav-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-navbar {
        display: inline;
    }

    /* HEADER - FIM */


    
    /* HERO - INICIO */

    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* HERO - FIM */



    /* SEÇÃO WHY US - INICIO */

    .card-why-us {
        width: 580px;
    }

    .why-us {
        padding: 60px 160px;
    }

    /* SEÇÃO WHY US - FIM */



    /* SEÇÃO SOLUÇÕES - INICIO */

    .solutions {
        padding: 30px 160px;
    }

    .cards-solutions {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* SEÇÃO SOLUÇÕES - FIM */



    /* SEÇÃO CONTATOS - COMEÇO */

    .hero,
    .clients,
    .why-us,
    .solutions,
    .projects,
    .contact,
    .faq {
        padding: 64px 166px;
    }

    .contact-logo {
        width: 330px;
        height: 610px;
        border-radius: 16px 0px 0px 16px;
    }

    .contact-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
    }

    .contact-form-content {
        width: 650px;
        height: 100%;
        border-radius: 0px 16px 16px 0px;
    }

    /* SEÇÃO CONTATOS - FIM */


    /* SEÇÃO FAQ - COMEÇO */

    .faq-item {
        width: 980px;
    }

    /* SEÇÃO FAQ - FIM */
}